doctype html5
html
	head
		meta(name='viewport', content='initial-scale=1.0, user-scalable=no')
		title= title
		link(href='http://fonts.googleapis.com/css?family=Roboto:400,700,400italic,100', rel='stylesheet', type='text/css')

		link(rel='stylesheet', href="/stylesheets/style.css")

		script(src='/socket.io/socket.io.js')
		script(type='text/javascript', src='/vendor/jquery.min.js')
		script(type='text/javascript', src='/vendor/jquery.tmpl.min.js')
		script(type='text/javascript', src='/javascripts/admin.js')
	body
		h1 hexamusic
		button.colorbutton(style="background-color: #f1ff87", data-hackevent="hm1") Groenachtig iets
		button.colorbutton(style="background-color: #fb87ff", data-hackevent="hm2") Donkderblauw
		button.colorbutton(style="background-color: #ff0000", data-hackevent="hm3") Ander kleur 1
		button.colorbutton(style="background-color: #0000ff", data-hackevent="hm3") Ander kleur 2
